* {
  margin: 0;
}
.app__header {
  /* By default, 'display:flex' pushes everything into a row */
  display: flex;
  /* flex-direction: column;  Use if you want the contentes arranged column and occupy full width */
  /* Inside this container, each contents spaced */
  justify-content: space-between;
  align-items: center; /*the text drops down a little bit */
  margin-bottom: 20px; /*margine: outside of the element  padding: inside of the element*/
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding:20px
}

.app__left{
  flex:0.9;
}
@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}

body {
  background-color: #f5f6fa;
}
