.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}
/* 홀수인 테이블에 옅은 회색 배경색 처리 */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table td {
  padding: 0.5rem;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
